<form action="/robots/<%= @robot.id %>" method="post">
  <div class="create">
    <h2>Edita este robot:</h2>
    <input type="hidden" name="_method" value="PUT" />
    <label for="formGroupExampleInput">Nombre</label>
    <input type='text' name='robot[name]' value="<%= @robot.name %>"/><br/>
    <label for="formGroupExampleInput">Ciudad</label>
    <input type='text' name='robot[city]' value="<%= @robot.city %>"/><br/>
    <label for="formGroupExampleInput">Estado</label>
    <input type='text' name='robot[state]' value="<%= @robot.state %>"/><br/>
    <label for="formGroupExampleInput">Imagen</label>
    <input type='text' name='robot[avatar]' value="<%= @robot.avatar %>"/><br/>
    <label for="formGroupExampleInput">Fecha de Nacimiento</label>
    <input type='text' name='robot[birthdate]' value="<%= @robot.birthdate %>"/><br/>
    <label for="formGroupExampleInput">Fecha de Empleo</label>
    <input type='text' name='robot[date_hired]' value="<%= @robot.date_hired %>"/><br/>
    <label for="formGroupExampleInput">Agencia</label>
    <input type='text' name='robot[department]' value="<%= @robot.department %>"/><br/>
    <input class="btn btn-warning" type='submit'/>
  </div>
</form>
