
<div class="col-md-12">
​
  <div class="row">
    <h1>Todos los Robots</h1>
  </div>
      <table class="table">
        <tr>
          <th>Robot ID</th>
          <th>Robot Name</th>
          <th> </th>
          <th> </th>
        </tr>
        <tr>
         <% @robots.each do |robot| %>
            <td><%= robot.id %></td>
            <td> <a href="/robots/<%= robot.id %>"><%= robot.name %></a></td>
            <td> <a href="/robots/<%= robot.id %>/edit">Editar</a></td>
            <td>
              <form action="/robots/<%= robot.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete">
              </form>
            </td>
        </tr>
       <% end %>
     </table>
 </div>
 <!-- adds link to edit . underscore method means to override -->
